# Optimización de Ventas y Satisfacción de Clientes en una Cadena de Cafeterías

In [2]:
import pandas as pd
from sqlalchemy import create_engine, text
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

## Conexión a la base de datos

In [7]:
engine = create_engine("mysql+pymysql://root:leon1824@localhost:3306/coffee_insights_db")

## Obtención de DataFrames

In [12]:
query = text("""
    SELECT
        location,
        name,
        category,
        price,
        cost,
        quantity,
        ROUND((price * quantity), 2) AS total,
        ROUND(((price - cost) * quantity), 2) AS utility,
        sale_timestamp
    FROM
        stores
    INNER JOIN sales ON stores.store_id = sales.store_id
    INNER JOIN products ON sales.product_id = products.product_id
 """)

### DataFrame de las Ventas

In [13]:
df_sales = pd.read_sql(query, engine)
df_sales

,location,name,category,price,cost,quantity,total,utility,sale_timestamp
0,University District,Iced Mocha,Coffee,5.19,2.71,2,10.38,4.96,2024-01-02 21:52:00
1,Financial District,Sandwich,Food,2.83,1.48,1,2.83,1.35,2024-01-18 21:25:00
2,Suburbs,Cheesecake,Bakery,2.82,1.47,1,2.82,1.35,2024-03-18 05:13:00
3,University District,Cheesecake,Bakery,2.82,1.47,1,2.82,1.35,2024-01-01 13:57:00
4,Suburbs,Smoothie,Food,3.94,2.06,1,3.94,1.88,2024-03-06 06:50:00
...,...,...,...,...,...,...,...,...,...
14995,Downtown,Salad,Food,3.37,1.76,1,3.37,1.61,2024-01-08 10:38:00
14996,Suburbs,Americano,Coffee,4.69,2.45,3,14.07,6.72,2024-01-03 22:14:00
14997,Mall,Wrap,Food,4.36,2.28,2,8.72,4.16,2024-03-03 21:57:00
14998,Financial District,Wrap,Food,4.36,2.28,2,8.72,4.16,2024-03-22 09:09:00
14999,Financial District,Espresso,Coffee,3.69,1.93,2,7.38,3.52,2024-02-23 11:58:00

### DataFrame de Comentarios

In [14]:
query = text("""
    SELECT
        location,
        comment,
        rating,
        feedback_date
    FROM
        customer_feedback
    LEFT JOIN stores ON customer_feedback.store_id = stores.store_id
""")

In [15]:
df_feedback = pd.read_sql(query, engine)
df_feedback

                 location              comment  rating feedback_date
0                    Mall  Loved the croissant       4    2024-03-09
1     University District       Great service!       4    2024-02-19
2                Downtown    Line was too long       5    2024-04-23
3     University District        Not impressed       5    2024-04-24
4      Financial District        Wifi was slow       5    2024-01-13
...                   ...                  ...     ...           ...
2995                 Mall           Very clean       3    2024-02-13
2996              Suburbs        Not impressed       4    2024-03-02
2997   Financial District           Very clean       3    2024-04-16
2998                 Mall      Coffee was cold       5    2024-01-13
2999   Financial District     Friendly barista       4    2024-03-26

[3000 rows x 4 columns]